html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/* Button */
.btn {
  text-decoration: none;
  font-weight: 500;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background: #ffb633;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: #ffa600;
  transition: 0.4s ease;
}

.btn2 {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px #ffb633;
  background: transparent;
  cursor: pointer;
}
.btn2:hover {
  text-decoration: none;
  background: #ffb633;
  border: none;
  color: white;
  transition: 0.3s ease-in;
}

/* Hover */
.up {
  animation: up 1.5s linear infinite;
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Catatan
    btn : background kuning, color putih. Hover kebalikan
    btn2 : background kuning, color putih. Hover background gelap, color putih
    btn2 : background putih, color kuning. Hover background gelap, color putih
*/

/* ======= Header ======= */
header {
  background-color: #1f1f1f;
}
/* ======= Navbar ======= */
nav {
  background-color: #1f1f1f;
}
.navbar {
  padding: 2.5rem;
  transition: all 0.5s ease-in-out;
}

.scrolled-down {
  background-color: rgb(26, 26, 26);
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 1.5rem !important;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.navbar-nav a {
  color: whitesmoke;
  font-size: 0.9rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-left: 50px;
}
.navbar-nav a.active {
  color: #ffb633;
}

.navbar-nav a:hover {
  color: #ffb633;
  transition: 0.3s ease;
}

/* ======= Medsos Box ======= */
.medsos-box {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.548);
  background-image: linear-gradient(to bottom, #fc9801, #f1ee0b);
  position: fixed;
  top: 40%;
  border-radius: 0px 10px 10px 0px;
  z-index: 999;
  height: 220px;
}
.medsos-box ul li {
  list-style: none;
  padding: 10px 12px;
}
.medsos-box ul li a img {
  width: 35px;
}

/* ================================= MAIN PAGE =================================*/

/* ======= HOME ======= */
.home {
  background-color: #1f1f1f;
}
.home .row {
  min-height: 55vh;
}

.text-container h3 {
  font-weight: 600;
  letter-spacing: 4px;
  color: #ffb633;
}
.text-container h3 span {
  transform: rotate(60deg);
  animation: changeColor 3s linear infinite;
}

@keyframes changeColor {
  0% {
    color: #ffb633;
  }
  50% {
    color: whitesmoke;
  }
  100% {
    color: #ffb633;
  }
}
.text-container h5 {
  font-style: italic;
  letter-spacing: 2px;
}
.text-container a {
  color: rgb(190, 190, 190);
  text-decoration: none;
}

.model {
  text-align: center;
  margin: auto;
  position: relative;
  width: 80%;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    #ffb633 25%,
    #444 25%,
    #444 50%,
    #ffb633 50%,
    #ffb633 75%,
    #444 75%,
    #444 100%
  );
  background-size: 40px 40px;
  filter: grayscale(100%);
  animation: animateBg 2s linear infinite;
  animation-play-state: paused;
  transition: all 2s;
}

.model img {
  width: 80%;
  transition: ease-in 0.2s;
}

/* ======= About ======= */
#about {
  background-color: #1f1f1f;
  min-height: 25vh;
}
#about h3 {
  color: whitesmoke;
  letter-spacing: 2px;
}

#about p {
  color: rgb(190, 190, 190);
  line-height: 2rem;
  letter-spacing: 1px;
}
.btn-box {
  display: flex;
  align-items: center;
}
.btn-box .btn-media-sosial a {
  color: whitesmoke;
  font-size: 1.5rem;
  transition: ease-in 0.3s;
}
.btn-box .btn-media-sosial a:hover {
  color: #ffb633;
}
/* ======= Project ======= */
.project {
  background-color: #1f1f1f;
  padding-top: 80px;
  position: relative;
}
#project .title-animate {
  position: absolute;
  color: transparent;
  top: 0;
  font-size: 7rem;
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(63, 63, 63);
}
.title {
  color: whitesmoke;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.project-detail p {
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: rgb(190, 190, 190);
}

.project-link img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: ease-in 0.2s;
  box-shadow: 3px 3px 10px rgba(32, 32, 32, 0.548);
}

.project-detail:hover img {
  filter: grayscale(0%);
  transform: translateY(-10px);
  box-shadow: 0px 0px 30px rgba(32, 32, 32, 0.548);
}

.visit-site {
  color: #ffb633;
  text-decoration: none;
  transition: ease-in 0.3s;
}
.visit-site:hover {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

/* ======= Hire me ======= */
.hire-me {
  background-color: #1f1f1f;
}

.hire-me .container {
  background-color: #2e2e2e;
  padding: 40px 0px;
}
.border-title-white {
  width: 80px;
  margin: auto;
  border-bottom: 4px solid white;
  margin-bottom: 70px;
}
.hire-me h4 {
  color: whitesmoke;
  letter-spacing: 2px;
}

/* ======== Skill ======= */
#skill {
  background-color: #1f1f1f;
  padding: 60px 0px;
  position: relative;
}
.skill-details p {
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: rgb(190, 190, 190);
}
.skill-image {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.skill-image img {
  flex-basis: calc(20% - 30px);
  width: 5rem;
  height: 5rem;

  object-fit: contain;
  filter: grayscale(100%);
  transition: 0.3s;
}

.skill-image img:hover {
  transform: scale(1.1);
  margin: 0px 10px;
  object-fit: contain;
  filter: grayscale(0%);
}

#skill .title-animate2 {
  position: absolute;
  color: transparent;
  top: 0;
  font-size: 7rem;
  width: 100%;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(63, 63, 63);
}

/* ======== Contact ======= */
.contact {
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0px;
}
.contact h2 {
  margin-bottom: 30px;
  color: #292929;
  font-weight: bold;
}
.detail-contact a {
  display: flex;
  justify-content: end;
  align-items: center;

  text-decoration: none;
  letter-spacing: 1px;
  color: rgb(190, 190, 190);
  margin-bottom: 20px;
}
.detail-contact a i {
  width: 20px;
  font-size: 30px;
  margin-left: 20px;
  text-align: center;
}

/* ======== Footer ======= */
.footer {
  background-color: #1d1d1d;
  color: #292929;
  padding: 20px 0px;
}
.footer .col-md-12 {
  display: flex;
  justify-content: space-between;
}
.footer p {
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: rgb(190, 190, 190);
}

/* ================================= WEB DEV PAGE =================================*/
/* Ukuran tablet*/
@media screen and (max-width: 768px) {
  #home {
    text-align: center;
    padding-bottom: 40px;
  }
  .text-container {
    margin-top: 5%;
  }
}
